<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="广告,advertising,网络广告交易平台,ADX,DSP,SSP,DMP,RTB,PMP">
<meta name="description" content="四个椰子为全球品牌以及效果广告主提供移动广告智能化所需的工具和服务；我们领先的技术和数&lt;br/&gt;据平台使媒体和广告主能够透明的进行广告流量交易，不断覆盖整个移动生态系统的受众。我们提供全方位多层次的管理&lt;br/&gt;服务和智能化解决方案，包括但不限于流量的开放式交易、私有化和直接购买；">

<title>北京四个椰子信息技术有限公司</title>

<link rel="icon" href="/static/image/forcn.ico" type="image/x-icon"/>
<link type="text/css" rel="stylesheet" href="/static/style/font-awesome.css">
<link type="text/css" rel="stylesheet" href="/static/style/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/static/style/style.css">
<link type="text/css" rel="stylesheet" href="/static/style/media.css">

<!--[if lt IE 9]>
    <script src="index_files/style/html5.min.js"></script>
    <script src="index_files/style/respond.min.js"></script>
<!--<![endif]&ndash;&gt;-->

</head>
<body>
<header class="header" id="header">
	<div class="container headerCon">
		<div class="logo f-left">
			<a href="/firstapp/notfound">
				<img src="/static/image/logo.jpg" alt="Adinall">
			</a>
		</div>
		<a href="javascript:;" class="toggle" id="sidenav-toggle">
			<i class="icon-reorder"></i>
		</a>
		<nav class="nav f-left">
			<ul class="sidenav-menu" id="sidenav-menu">
				<li><a href="#"><span>首 页</span></a></li>
				<li><a href="#"><span>广告主</span></a></li>
				<li><a href="http://www.cnblogs.com/52-qq/"><span>开发者</span></a></li>
				<li><a href="#"><span>关于椰子</span></a></li>
				<li><a href="#"><span>招贤纳士</span></a></li>
				<li><a href="#"><span>联系我们</span></a></li>
			</ul>
		</nav>
		<div class="login f-right">
			<!--<div class="language f-left">-->
				<!--<span class="lang-dropdown lang cn">中文</span>-->
				<!--<ul class="languageMenu">-->
					<!--<li><a href="404.html" class="lang en">English</a></li>-->
					<!--<li><a href="404.html" class="lang cn">中文</a></li>-->
				<!--</ul>-->
			<!--</div>-->
			<!--<div class="short-line"></div>-->
			<div class="login-icon f-right">
				<a href="http://www.cnblogs.com/52-qq/p/8320303.html" target="_blank"><span>北京四个椰子信息技术有限公司</span></a>
			</div>
		</div>
	</div>
</header>
<!-- banner大图 -->
<section class="banner bn1">
	<div class="container wordCenter">
		<div class="wordMiddle">
			<h1 class="bn1_title">移动广告交易智能化</h1>
			<p class="bn1_descript">专注打造智能高效的广告流量交易平台</p>
			<a href="/firstapp/notfound" class="bn1_btn">了解更多</a>
		</div>
	</div>
</section>
<!-- 滚动的合作伙伴 -->
<section>
	<div class="container partnerCon">
		<ul class="partnerLists" style="width: 4200px; transform: translateX(-140px);"> 
			<li><img src="/static/image/partner1.png"></li>
			<li><img src="/static/image/partner2.png"></li>
			<li><img src="/static/image/partner3.png"></li>
			<li><img src="/static/image/partner4.png"></li>
			<li><img src="/static/image/partner5.png"></li>
			<li><img src="/static/image/partner6.png"></li>
			<li><img src="/static/image/partner7.png"></li>
			<li><img src="/static/image/partner8.png"></li>
            <li><img src="/static/image/partner9.png"></li>
			<li><img src="/static/image/partner10.png"></li>
			<li><img src="/static/image/partner11.png"></li>
			<li><img src="/static/image/partner12.png"></li>
			<li><img src="/static/image/partner13.png"></li>
			<li><img src="/static/image/partner14.png"></li>
			<li><img src="/static/image/partner15.png"></li>

			<li><img src="/static/image/partner1.png"></li>
			<li><img src="/static/image/partner2.png"></li>
			<li><img src="/static/image/partner3.png"></li>
			<li><img src="/static/image/partner4.png"></li>
			<li><img src="/static/image/partner5.png"></li>
			<li><img src="/static/image/partner6.png"></li>
			<li><img src="/static/image/partner7.png"></li>
			<li><img src="/static/image/partner8.png"></li>
			<li><img src="/static/image/partner9.png"></li>
			<li><img src="/static/image/partner10.png"></li>
			<li><img src="/static/image/partner11.png"></li>
			<li><img src="/static/image/partner12.png"></li>
			<li><img src="/static/image/partner13.png"></li>
			<li><img src="/static/image/partner14.png"></li>
			<li><img src="/static/image/partner15.png"></li>
		</ul>
	</div>
</section>
<section class="grayBg pt40">
	<div class="container">
		<div class="row dataAdvantage">
			<div class="col-md-3 col-xs-6">
				<img src="/static/image/icon1.png">
				<h3>1000M+</h3>
				<p>广告请求/日</p>
			</div>
			<div class="col-md-3 col-xs-6">
				<img src="/static/image/icon2.png">
				<h3>3000+</h3>
				<p>App应用+WAP站</p>
			</div>
			<div class="col-md-3 col-xs-6">
				<img src="/static/image/icon3.png">
				<h3>200M+</h3>
				<p>活跃用户/月</p>
			</div>
			<div class="col-md-3 col-xs-6">
				<img src="/static/image/icon4.png">
				<h3>500+</h3>
				<p>广告主</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container space1">
		<h3 class="slide-title">我们是做什么的</h3>
		<p class="slide-des">四个椰子为全球品牌以及效果广告主提供移动广告智能化所需的工具和服务；<br>我们领先的技术和数据平台使媒体和广告主能够透明的进行广告流量交易，不断覆盖整个移动生态系统受众；<br>我们提供全方位多层次的管理服务和智能化解决方案，包括但不限于流量的开放式交易、私有化和直接购买。</p>
		<div class="slide-img">
			<div class="row"><img src="/static/image/organPic.png"></div>
		</div>
	</div>
</section>
<section class="grayBg pt20">
	<div class="container relPos">
		<h3 class="slide-title">丰富的广告资源</h3>
		<p class="slide-des mtop">四个椰子能够真正帮助媒体把每一个流量，以最高的出价售卖给匹配的需求方，并且提供一个全面和公正的广告竞价引擎，<br>通过优选出价格高的广告形式来达到流量收益最大化，并通过全网的广告主资源来解决丰富的广告填充。</p>
		<div class="mediaSource">
			<div class="mediaLeft">
				<h4 class="m-tit">广告投放形式</h4>
				<div class="ad-list">
					<div class="Tab1">
						<a href="javascript:;" class="active">横幅广告</a>
						<a href="javascript:;" class="">插屏广告</a>
						<a href="javascript:;" class="">视频广告</a>
						<a href="javascript:;" class="">开屏广告</a>
						<a href="javascript:;" class="">原生信息流</a>
					</div>
					<hr>
					<p class="show">展现场景：适合在用户停留较久或者访问频繁的页面<br>支持平台：Android，iOS<br>计费方式：CPM、CPC<br>尺&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;寸： 640x100、320x50</p>
					<p class="">展现场景：视频前后贴、暂停、过关、阅读翻页、游戏暂停、加载<br>支持平台：Android，iOS<br>计费方式：CPM、CPC<br>尺&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;寸： 600x500、640x960</p>
					<p class="">展现场景：以市场常见的广告类型为入口，点击后通过悬浮或扩展的方式展示<br>支持平台：Android，iOS<br>计费方式：CPM、CPC<br>尺&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;寸： 16:9、 4:3</p>
					<p class="">展现场景：应用开启后全屏展现的广告样式<br>支持平台：Android，iOS<br>计费方式：CPM、CPC<br>尺&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;寸： 640x960、320x480、640x1136</p>
					<p class="">展现场景：作为应用的一部分与APP高度融合的广告样式<br>支持平台：Android，iOS<br>计费方式：CPM、CPC<br>尺&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;寸： 640*960、600*300、230*152、640*270、960*640</p>
				</div>
				<div class="ad-list">
					<div class="Tab1">
						<a href="javascript:;" class="active">横幅广告</a>
						<a href="javascript:;">矩形广告</a>
						<a href="javascript:;">视频广告</a>
					</div>
					<hr>
					<p class="show">支持平台：PC<br>计费方式：CPM、CPC<br>尺&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;寸： 728x90、960x90、970x90</p>
					<p>支持平台：PC<br>计费方式：CPM、CPC<br>尺&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;寸： 300x250、250x250</p>
					<p>支持平台：PC<br>计费方式：CPM、CPC<br>尺&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;寸： 16:9、 4:3、1:1</p>
				</div>
				<div class="ad-list">
					<div class="Tab1">
						<a href="javascript:;" class="active">横幅广告</a>
						<a href="javascript:;">视频广告</a>
					</div>
					<hr>
					<p class="show">支持平台：Android，iOS<br>计费方式：CPM、CPC<br>尺&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;寸： 640x100、320x50</p>
					<p>支持平台：Android，iOS<br>计费方式：CPM、CPC<br>尺&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;寸： 16:9、 4:3</p>
				</div>
			</div>
			<div class="mediaRight">
				<div class="con-group con-app">
					<img class="show" src="/static/image/a1.png">
					<img src="/static/image/a2.png" class="">
					<img src="/static/image/a3.png" class="">
					<img src="/static/image/a4.png" class="">
					<img src="/static/image/a5.png" class="">
				</div>
				<div class="con-group con-pc">
					<img class="show" src="/static/image/b1.png">
					<img src="/static/image/b2.png">
					<img src="/static/image/b3.png">
				</div>
				<div class="con-group con-wap">
					<img class="show" src="/static/image/c1.png">
					<img src="/static/image/c2.png">
				</div>
				<div class="Tab2">
					<a href="javascript:;" class="active">APP</a>
					<a href="javascript:;">PC</a>
					<a href="javascript:;">WAP</a>
				</div>
				<div class="arrow"></div>
			</div>
		</div>
	</div>
</section>
<section class="container space1">
	<h3 class="slide-title ">卓越的营销效果</h3>
	<div class="row yxCon pt30">
		<div class="col-md-6 col-xs-12">
			<div class="col-xs-4 yx-img"><img src="/static/image/pic1.png"></div>
			<div class="col-xs-8 yx-text">
				<h3>优质流量</h3>
				<p>全国流量覆盖，快速上量获取用户</p>
				<p>全国高质量的移动用户流量</p>
				<p>多种广告形式满足广告商需求</p>
			</div>
		</div>
		<div class="col-md-6 col-xs-12">
			<div class="col-xs-4 yx-img"><img src="/static/image/pic2.png"></div>
			<div class="col-xs-8 yx-text">
				<h3>先进技术</h3>
				<p>智能投放工具实现规模化全球采买</p>
				<p>先进的优化算法</p>
				<p>机器学习和精准广告</p>
				<p>基于效果的分析和自动优化</p>
			</div>
		</div>
		<div class="col-md-6 col-xs-12">
			<div class="col-xs-4 yx-img"><img src="/static/image/pic3.png"></div>
			<div class="col-xs-8 yx-text">
				<h3>效果驱动</h3>
				<p>支持CPI, CPA等多种交易方式</p>
				<p>为单客户每日最高带来40万安装用户</p>
				<p>激活、引导用户深度参与</p>
			</div>
		</div>
		<div class="col-md-6 col-xs-12">
			<div class="col-xs-4 yx-img"><img src="/static/image/pic4.png"></div>
			<div class="col-xs-8 yx-text">
				<h3>专业服务</h3>
				<p>提供目标市场本地化运营支持</p>
				<p>实时的投放监测和数据分析系统</p>
				<p>专业团队进行智能优化</p>
				<p>定制化流量采买</p>
			</div>
		</div>
	</div>
</section>
<a href="javascript:;" id="back-to-top" style="display: block;"><img s/static/image/backgotop.png" width="40" alt=""></a>
<footer id="footer">
	<div class="container">
		<div class="row footerMenu">
			<div class="col-md-2 col-xs-3">
				<h4>快捷入口</h4>
				<p><a href="#">广告主</a></p>
				<p><a href="#">开发者</a></p>
				<p><a href="#">关于聚告</a></p>
				<p><a href="#">招贤纳士</a></p>
				<p><a href="#">联系我们</a></p>
				<div class="social-show-phone">
					<h4>关注我们</h4>
					<div class="social-links">
						<a target="_blank" href="javascript:;"><i class="icon-facebook"></i></a>
						<a target="_blank" href="javascript:;"><i class="icon-linkedin"></i></a>
						<a target="_blank" href="javascript:;"><i class="icon-twitter"></i></a>
						<a target="_blank" href="javascript:;" class="weixin"><i class="icon-weixin"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-xs-9">
				<div class="row">
					<div class="col-md-6 col-xs-6 max-width-280">
						<p class="yellowTitle">北京办公地址</p>
						<p>地址：北京市海淀区大钟寺中坤广场E座628</p>
						<p>电话：xxxxxxxx</p>
						<hr>

					</div>
					<div class="col-md-6 col-xs-6 max-width-280 mtl">


					</div>
				</div>
			</div>
			<div class="col-md-2 social-hide-phone">
				<h4>关注我们</h4>
				<div class="social-links">
					<p><span>商务合作：</span><span><a href="#">peter@fourco-inc.com</a></span></p>
					<p><span>产品技术支持：</span><span><a href="#">peter@fourco-inc.com</a></span></p>
					<p><span>聚告招聘：</span><span><a href="#">seven.nighter@gmail.com</a></span></p>
				</div>
			</div>
		</div>
		<div class="copyright">
			<!--<p><a href="#"><img src="#" alt="Logo"></a></p>-->
			<p>京ICP备17062568号</p><p>北京四个椰子信息技术有限公司&copy;版权所有</p></div></div>
</footer>

<script src="/static/style/jquery.min.js"></script>
<script src="/static/style/bootstrap.min.js"></script>
<script src="/static/style/TweenMax.min.js"></script>
<script src="/static/style/vue.js"></script>
<script src="/static/style/public.js"></script>
<script src="/static/style/demo.js"></script>

</body></html>
